article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a, .overlay-fade-in:hover {
  background: transparent;
}
a:focus, .overlay-fade-in:focus:hover {
  outline: thin dotted;
}
a:hover, .overlay-fade-in:hover, a:active, .overlay-fade-in:active:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

::-moz-selection {
  background: #ffa500;
  text-shadow: none;
}

::selection {
  background: #ffa500;
  text-shadow: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 5px 0 0 0;
  text-align: center;
  position: relative;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 2rem 0;
}

h2 {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4rem;
}

p {
  display: inline-block;
  position: absolute;
  bottom: 5.3rem;
}

.blok {
  margin: 1.5rem;
  max-width: 24rem;
  height: 20rem;
  overflow: hidden;
}

.main {
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits {
  margin: 1rem 0.8rem 2rem 0.8rem;
}

.image-wrapper {
  width: 100%;
  height: 16rem;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  justify-content: center;
  float: left;
  text-align: center;
  z-index: 100;
}
.image-wrapper img {
  max-width: inherit;
  height: 100%;
  z-index: -10;
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
}
.image-overlay-content:hover {
  width: 100%;
  height: 100%;
}

.overlay-fade-in a, .overlay-fade-in .overlay-fade-in:hover {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.7rem;
  width: 11rem;
  margin: auto;
}
.overlay-fade-in:hover a, .overlay-fade-in:hover .overlay-fade-in:hover {
  z-index: 10;
}

/* Medium mains, Desktops */
@media only screen and (min-width: 62rem) {
  /* 992 / 16 = 62rem */
  p {
    position: absolute;
    bottom: 0.5rem;
  }

  h2 {
    position: absolute;
    bottom: 1rem;
  }

  .blok {
    height: 16rem;
  }

  .overlay-fade-in a, .overlay-fade-in .overlay-fade-in:hover {
    bottom: 6rem;
  }
}
html {
  background: none;
}

body {
  color: #ffffff;
  /*Twitch gradient  */
  background: #6441A5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2a0845, #6441a5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
  padding: 0.2rem 0.4rem;
}

a, .overlay-fade-in:hover, a:hover, .overlay-fade-in:hover, a:focus, .overlay-fade-in:focus:hover, a:visited, .overlay-fade-in:visited:hover {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #ffa500;
}

.columns, .column {
  padding: 0;
}

.main {
  font-size: 1.5rem;
}

.blok {
  border-radius: 1.7rem;
  background: #6441A5;
}

.credits {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
}

.image-wrapper {
  transition: all;
}

.overlay-fade-in img {
  opacity: 1;
  transition: all 0.2s linear;
}
.overlay-fade-in .image-overlay-content {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
  display: block;
  color: #ffffff;
  background: rgba(42, 8, 69, 0.6);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.overlay-fade-in p {
  background: rgba(42, 8, 69, 0);
  transform: translateY(10rem);
  transition: all 0.4s ease-in-out;
}
.overlay-fade-in a, .overlay-fade-in .overlay-fade-in:hover {
  padding: 0.7rem 1rem;
  border: 0.3rem solid #ffffff;
  border-radius: 2rem;
  background: #ffa500;
  color: #ffffff;
  color: #6441A5;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.overlay-fade-in:hover a, .overlay-fade-in:hover .overlay-fade-in:hover {
  transition-delay: 0.2s;
}
.overlay-fade-in:hover img {
  opacity: 1;
  transform: scale(1);
}

/* Medium mains, Desktops */
@media only screen and (min-width: 62rem) {
  /* 992 / 16 = 62rem */
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  a:hover, .overlay-fade-in:hover {
    color: #ffffff;
  }

  .overlay-fade-in h2 {
    padding: 0.1rem;
  }
  .overlay-fade-in p {
    background: rgba(42, 8, 69, 0.7);
  }
  .overlay-fade-in a, .overlay-fade-in .overlay-fade-in:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .overlay-fade-in:hover h2 {
    transform: translateY(10rem);
  }
  .overlay-fade-in:hover p {
    transform: translateY(0rem);
  }
  .overlay-fade-in:hover img {
    transform: scale(1.2);
  }
  .overlay-fade-in:hover a, .overlay-fade-in:hover .overlay-fade-in:hover {
    color: #ffffff;
    background-color: #ffa500;
    border: 0.2rem solid rgba(59, 184, 22, 0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* schaduw-1  */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* schaduw-2  */
  }
}
