html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 5px 0 0 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #ffffff;   
    /*Twitch gradient  */
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: 'Lato', sans-serif;
    margin: 2rem 0;
    font-weight: 700;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
}
p {
    font-family: 'Share Tech', sans-serif;
    display:inline-block;
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}
a, a:visited {
    text-decoration: none;
    color: orange;
}
a:hover {
    color: #fff;
}
.columns, .column {
    padding: 0;
}
.button {
    cursor: pointer;
    outline: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #fff;  
}
.button:hover {
    background-color: orange;
    border: 0.3rem solid orange;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  /* schaduw-1  */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  /* schaduw-2  */
}

.blok {
	margin: 1.5rem;
    max-width: 24rem;
}

.main {
    max-width: 90rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credits {
    color: rgba(255,255,255, 0.6) ;
    margin: 1rem 0 2rem 0;
    font-size: 1.6rem;
}


.image-wrapper {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    float: left;
    text-align: center;
    z-index: 100;
    transition: all 0.4s ease-in-out;  
}
.image-wrapper img {
    max-width: inherit;
    height: 100%;  
    z-index: -10;
}
.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.image-overlay-content:hover {
    width: 100%;
    height: 100%;
}
.overlay-fade-in img {
    opacity: 1;
    transition: all 0.2s linear;
}
.overlay-fade-in .image-overlay-content {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
    display: block;
    color: #f2f2f2;
    background: rgba(42,8,69, 0.7);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.1rem;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.overlay-fade-in:hover h2 {
    transform: translateY(10rem);
} 
.overlay-fade-in p {
    background: rgba(42,8,69, 0.7);
    transform: translateY(10rem);
    transition: all 0.4s ease-in-out; 
}
.overlay-fade-in:hover p {
    transform: translateY(0rem);
}
.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 0.4rem solid rgba(100,65,165, 0.7) ;
    background: rgba(255, 255, 255, 0.8); 
    color: #6441A5;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;
    width: 11rem;
    margin: auto;
    transition: all 0.2s ease-in-out; 
}
.overlay-fade-in:hover .button {
    background: orange; 
    color: #ffffff;
    border: 0.2rem solid rgba(59, 184, 22, 0.0);
}
.overlay-fade-in:hover img {
    opacity: 1;
    transform: scale(1.2); 
}

.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
    z-index: 10; 
}
/* eind foundation code */

/* Custom, iPhone Retina */
@media only screen and (min-width : 20rem) {  /* 320 / 16 = 20rem */

}

/* Extra Small mains, Phones */
@media only screen and (min-width : 30rem) {  /* 480 / 16 = 30rem */

}

/* Small mains, Tablets */
@media only screen and (min-width : 48rem) {  /* 768 / 16 =  48rem */

}

/* Medium mains, Desktops */
@media only screen and (min-width : 62rem) {  /* 992 / 16 = 62rem */

}

/* Large mains, Wide Screens */
@media only screen and (min-width : 75rem) { /* 1200 / 16 = 75rem */

}
