html {
    background: none;
}
body {
    color: $white;   
    /*Twitch gradient  */
    background: $default;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $dark, $default);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $dark, $default); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h1 {    
    font-size: 1.6rem;
}
h2 {   
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;  
}
p {
    font-family: 'Share Tech', sans-serif;  
    font-size: 1.1rem;
    line-height: 1.3;
    padding: 0.2rem 0.4rem;
}
a, a:hover, a:focus, a:visited {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: $accent;
}
.columns, .column {
    padding: 0;
}
.main {
     font-size: 1.5rem;
}
.blok {
    border-radius: 1.7rem;
    background: $default;    
    // border: 0.1rem solid $default;
}
.credits {
    color: rgba(255,255,255, 0.6) ;
    font-size: 1.1rem;
}
.image-wrapper {  
    transition: all ;
}
.overlay-fade-in {
    img {
        opacity: 1;
        transition: all 0.2s linear;
    }
    .image-overlay-content {
        opacity: 1;
        transition: all 0.4s ease-in-out;
    }
    h2 {
        display: block;
        color: $white;
        background: rgba(42,8,69, 0.6);
        font-size: 1.2rem;
        font-weight: 700;
        padding: 0.3rem 0;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }
    p {
        background: rgba(42,8,69, 0);
        transform: translateY(10rem);
        transition: all 0.4s ease-in-out; 
    }
    a {
        padding: 0.7rem 1rem;
        border: 0.3rem solid $white;
        border-radius: 2rem;
        background: $accent; 
        color: $white; 
        color: $default;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 0.05rem;         
        text-transform: uppercase;
        transition: all 0.2s ease-in-out; 
    }
    &:hover {       
        a {
            transition-delay: 0.2s;
        }
        img {
            opacity: 1;
            transform: scale(1); 
        }
    }
}


/* Medium mains, Desktops */
@media only screen and (min-width : 62rem) {  /* 992 / 16 = 62rem */
    h1 {
        font-size: 2.4rem;
    } 
    h2 {
        font-size: 1.2rem;
    }   
    a:hover {      
        color: $white;
    }
  
    .overlay-fade-in {
        h2 {
            padding: 0.1rem;
        }
        p {
            background: rgba(42,8,69, 0.7);
        }
        a {
            background: rgba(255, 255, 255, 0.8); 
        }        
        &:hover {
            h2 {
                transform: translateY(10rem);
            } 
            p {
                transform: translateY(0rem);
            }
            img {
                transform: scale(1.2); 
            }
            a  {   
                color: $white;
                background-color: $accent; 
                border: 0.2rem solid rgba(59, 184, 22, 0.0);  
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  /* schaduw-1  */
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  /* schaduw-2  */  
            }
        }
        
    }
}

